<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/form.css">
</head>

<body>
    <div style="display: flex; justify-content: center; ">
        <div id="main" style="width: 900px; border: 2px solid black; padding: 1rem; margin: 1rem;">
            <div id="top">
                <div id="top-start">
                    <img src="logo.png" alt="logo">
                    <h5>EFFACER LE FORMULAIRE</h5>
                </div>

                <div id="top-middle">
                    <h3>ATTESTATION DE MISSION
                        AFFAIRES PÉNALES</h3>
                    <div id="top-middle-below">
                        <p>Les coefficients indiqués sont valables pour toutes les procédures pour lesquelles des
                            décisions d’admission à l’aide juridictionnelle ont été prononcées à compter du 1er janvier
                            2021. Par exception, à compter du 1er juillet 2021 et pour les procédures listées par
                            l’article
                            19-1 de la loi n°91-647 du 10 juillet 1991, c’est la date d’accomplissement de la mission
                            qui
                            est prise en compte pour déterminer le mécanisme de rétribution applicable à la procédure.
                        </p>
                    </div>
                </div>
                <div id="top-right">
                    <img src="flag.png">
                    <h3>MINISTÈRE DE LA JUSTICE</h3>
                    <p>Liberté</p>
                    <p>Égalité</p>
                    <p>Fraternité</p>
                </div>
            </div>
            <p id="tagline">Imprimé à utiliser à compter du 30 septembre 2021 / <span>Mise à jour au 1er janvier
                    2024</span>
            </p>
            <h5 id="tagline-heading">AIDE JURIDICTIONNELLE</h5>
            <p class="tagline-heading-description">Loi n° 91-647 du 10 juillet 1991 modifiée</p>
            <p class="tagline-heading-description">Décret n° 2020-1717 du 28 décembre 2020 portant application de la loi
                n°
                91-647 du 10 juillet 1991 relative à l'aide juridique et relatif à l'aide juridictionnelle et à l'aide à
                l'intervention de l'avocat dans les procédures non juridictionnelles</p>

            <div id="information">
                <form>
                    <div class="row">
                        <label>N° d’A.F.M. :41018</label>
                        <input type="text" id="input1">
                        <label>2024</label>
                    </div>
                    <div class="row">
                        <label>Délivrée à Maître :</label>
                        <input type="text" style="width: 53rem" id="input3">
                    </div>
                    <div class="row">
                        <label>Avocat de Mme / M. :</label>
                        <input type="text" style="width: 52.1rem" id="input4">
                    </div>
                    <div class="row">
                        <label>Inscrit au Barreau de : </label>
                        <input type="text" id="inputt5" style="width: 25rem;" list = "options1">
                        <datalist id = "options1">
                            <option value="AGEN"></option>
                            <option value="AIN"></option>
                            <option value="AIX EN PROVENCE"></option>
                            <option value = "AJACCIO"></option>
                            <option value = "ALBERTVILLE"></option>
                            <option value = "ALBI"></option>
                            <option value = "ALES"></option>
                            <option value = "ALPES DE HAUTE PROVENCE"></option>
                            <option value = "AMIENS"></option>
                            <option value = "ANGERS"></option>
                            <option value = "ANNECY"></option>
                            <option value = "ARDECHE"></option>
                            <option value = "ARDENNES"></option>
                            <option value = "ARGENTAN"></option>
                            <option value = "ARIEGE"></option>
                            <option value = "ARRAS"></option>
                            <option value = "AUBE"></option>
                            <option value = "AURILLAC"></option>
                            <option value = "AUXERRE"></option>
                            <option value = "AVESNES SUR HELPE"></option>
                            <option value = "AVEYRON"></option>
                            <option value="AVIGNON"></option>
                            <option value = "BASTIA"></option>
                            <option value = "BAYONINE"></option>
                            <option value = "EAUVAIS"></option>
                            <option value = "BELFORT"></option>
                            <option value = "BERGERAC"></option>
                            <option value = "BESANCON"></option>
                            <option value = "BETHUNE"></option>
                            <option value = "BEZIERS"></option>
                            <option value = "BLOIS"></option>
                            <option value = "BONNEVILLE"></option>
                            <option value = "ORDEAUX"></option>
                            <option value = "BOULOGNE SUR MER"></option>
                            <option value = "OURGES"></option>
                            <option value = "OULOGNE SUR MER"></option>
                            <option value = "BOURGES"></option>
                            <option value = "BOURGOIN JALLIEU"></option>
                            <option value = "BREST"></option>
                            <option value="BRIEY"></option>
                            <option value="BRIVE LA GAILLARDE"></option>
                            <option value="CAEN"></option>
                            <option value="CAMBRAI"></option>
                            <option value="CARCASSONNE"></option>
                            <option value="CARPENTRAS"></option>
                            <option value="CARPENTRAS"></option>
                            <option value="CASTRES"></option>
                            <option value="CHALON SUR SAONE"></option>
                            <option value="CHALONS en CHAMPAGNE"></option>
                            <option value="CHAMBERY"></option>
                            <option value="CHARENTE"></option>
                        </datalist>
                        </input>
                    </div>
                    <div class="row">
                        <label>Dans l’affaire :</label>
                        <input type="text" style="width: 54.2rem" id="input6">
                    </div>
                    <div class="row">
                        <label>Parquet :</label>
                        <input type="text" id="input7">
                        <label>Aide juridictionnelle :</label>
                        <input type="checkbox" style="margin-right: 0.2rem;" id="check1">
                        <label style="margin-right: 1rem;">TOTALE</label>
                        <input type="checkbox" style="margin-right: 0.2rem;" id="check2">
                        <label>PARTIELLE</label>
                    </div>
                    <div class="row">
                        <label>Décision BAJ du :</label>
                        <input type="text" id="input8">
                        <label>N° B.A.J.:</label>
                        <input type="text" style="width: 38.7rem" id="input9">
                    </div>
                </form>
                <div id="information-right">
                    <p>Au moment de la
                        commission des
                        faits la personne
                        assistée est :</p>
                    <div class="information-check-input">
                        <input type="checkbox" id="check3">
                        <label>Mineure (m)</label>

                    </div>
                    <div class="information-check-input">
                        <input type="checkbox" id="check4">
                        <label>Majeure (M)</label>
                    </div>
                </div>
            </div>
            <table>
                <form>
                    <thead>
                        <th style="width: 8%">N°</th>
                        <th colspan="2">I. Nature de la mission – Affaires pénales1</th>
                        <th style="font-size: 0.6rem; width: 10%;">Si la mission
                            relève du champ
                            d’application de
                            l’article 19-1,
                            public concerné 1</th>
                        <th colspan="2">Coef.</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="td-heading">Procédures devant la cour d’assises et procédures devant
                                la
                                chambre spéciale des
                                mineurs ou le tribunal pour enfants statuant au
                                criminel</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td colspan="2">Assistance d’un mis en examen dans le cadre d’une instruction criminelle (f)
                            </td>
                            <th>m</th>
                            <th id = "c5">50</th>
                            <td><input type="checkbox" id="check5"></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td colspan="2">Assistance d’un accusé devant la cour d’assises, la cour d’assises des
                                mineurs,
                                la
                                cour
                                criminelle
                                départementale, le tribunal pour enfants statuant au criminel ou la chambre spéciale des
                                mineurs
                                statuant
                                au criminel (a) (g)</td>
                            <th>m/M</th>
                            <th id = "c6">50</th>
                            <td><input type="checkbox" id="check6"></td>
                        </tr>
                        <tr>
                            <th>2-5</th>
                            <td colspan="2">Assistance d'une personne dans le cadre de la première comparution devant le
                                juge
                                d'instruction
                                pour une
                                procédure devant la cour d’assises (d) (h)</td>
                            <th>m/M</th>
                            <th id = "c7">4</th>
                            <td><input type="checkbox" id="check7"></td>
                        </tr>
                        <tr>
                            <th>16</th>
                            <td colspan="2"> Assistance d'une partie civile pour une instruction criminelle2 (f) </td>
                            <th>m</th>
                            <th id = "c8">20</th>
                            <td><input type="checkbox" id="check8"></td>
                        </tr>
                        <tr>
                            <th>14</th>
                            <td colspan="2">
                                Assistance d'une partie civile ou d'un civilement responsable devant la cour d'assises,
                                la
                                cour
                                d'assises des
                                mineurs, la cour criminelle départementale, le tribunal pour enfants statuant au
                                criminel ou
                                la
                                chambre
                                spéciale des mineurs statuant au criminel (a) (g) </td>
                            <th>m</th>
                            <th id = "c9">38</th>
                            <td><input type="checkbox" id="check9"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="td-heading">Procédures devant le tribunal correctionnel.
                                Procédures devant le juge des enfants et le tribunal pour enfants prévues par
                                l’ordonnance
                                du 2
                                février 1945
                                et par le code de la justice pénale des mineurs</td>
                        </tr>
                        <tr>
                            <th>2-4</th>
                            <td colspan="2">Assistance d'un mineur dans le cadre d’un défèrement devant le procureur de
                                la
                                République et le
                                juge des
                                enfants (d)</td>
                            <th>m</th>
                            <th id = "c10">5</th>
                            <td ><input type="checkbox" id="check10"></td>
                        </tr>
                        <tr>
                            <th>3-2</th>
                            <td colspan="2">Assistance d'une personne dans le cadre d'un débat contradictoire relatif au
                                placement sous
                                contrôle
                                judiciaire ou sous assignation à résidence avec surveillance électronique</td>
                            <td class="diagonal"></td>
                            <th id = "c11">3</th>
                            <td ><input type="checkbox" id="check11"></td>
                        </tr>
                        <tr>
                            <th>10-3</th>
                            <td colspan="2"> Assistance d’un prévenu devant le juge des libertés et de la détention en
                                application du 3ème
                                alinéa de
                                l’article 394 et du 2eme alinéa de l’article 397-1-1 du CPP</td>
                            <th>M</th>
                            <th id = "c12">3</th>
                            <td ><input type="checkbox" id="check12"></td>
                        </tr>
                        <tr>
                            <th>3-3</th>
                            <td colspan="2">Assistance d’un mineur dans le cadre d’un débat contradictoire relatif :
                                <p>- au placement sous contrôle judiciaire ou sous assignation à résidence avec
                                    surveillance
                                    électronique</p>
                                <p>- au placement ou au maintien en détention provisoire (h)</p>
                            </td>
                            <th>m</th>
                            <th id = "c13">3</th>
                            <td ><input type="checkbox" id="check13"></td>
                        </tr>
                        <tr>
                            <th>3-4</th>
                            <td colspan="2">Assistance d'une personne dans le cadre d'un débat contradictoire devant le
                                juge
                                des
                                libertés et de la
                                détention, le juge des enfants ou le juge d'instruction relatif (h) :
                                <p>- au placement ou au maintien en détention provisoire ;</p>
                                <p>- au placement sous contrôle judiciaire ou sous assignation à résidence avec
                                    surveillance
                                    électronique.</p>
                            </td>
                            <th>M</th>
                            <th id = "c14">3</th>
                            <td><input type="checkbox" id="check14"></td>
                        </tr>
                        <tr>
                            <th>2-2</th>
                            <td colspan="2">Assistance d'une personne dans le cadre de la première comparution devant le
                                juge
                                d'instruction (d) (h)</td>
                            <th>m/M</th>
                            <th id = "c15">4</th>
                            <td ><input type="checkbox" id="check15"></td>
                        </tr>
                        <tr>
                            <th>2-3</th>
                            <td colspan="2">Assistance d'un mineur dans le cadre de la première comparution devant le
                                juge
                                des
                                enfants (d) (h)</td>
                            <th>m</th>
                            <th id = "c16">4</th>
                            <td><input type="checkbox" id="check16"></td>
                        </tr>
                        <tr>
                            <th>5-1</th>
                            <td colspan="2">Assistance d'une personne dans le cadre d’une instruction correctionnelle
                                devant
                                le
                                juge d’instruction (f) (y)</td>
                            <td class="diagonal"></td>
                            <th id = "c17">12</th>
                            <td><input type="checkbox" id="check17"></td>
                        </tr>
                        <tr>
                            <th>5-2</th>
                            <td colspan="2">Assistance d'un mineur dans le cadre d’une instruction correctionnelle
                                devant le
                                juge des enfants et devant le
                                juge d’instruction (f) (y)</td>
                            <th>m</th>
                            <th id = "c18">12</th>
                            <td><input type="checkbox" id="check18"></td>
                        </tr>
                        <tr class="border-top border-side highlighted-row">
                            <th>7-1</th>
                            <td rowspan="4" style="text-align: center; vertical-align: middle;">Assistance d’un prévenu
                                devant le juge des enfants</td>
                            <td>lors de l’audience de cabinet y compris la phase d’instruction (b)</td>
                            <th>m</th>
                            <th id = "c19">8</th>
                            <td><input type="checkbox" id="check19"></td>
                        </tr>
                        <tr class="border-side highlighted-row">
                            <th>7-2</th>
                            <td>lors de l’audience d’examen de la culpabilité ou de prononcé de la sanction
                                (b) (y) (z)</td>
                            <th>m</th>
                            <th id = "c20">8</th>
                            <td><input type="checkbox" id="check20"></td>
                        </tr>
                        <tr class="border-side highlighted-row">
                            <th>7-3</th>
                            <td>lors du jugement en audience unique (b)</td>
                            <th>m</th>
                            <th id = "c21">11</th>
                            <td><input type="checkbox" id="check21"></td>
                        </tr>
                        <tr class="border-side border-bottom highlighted-row">
                            <th>7-4</th>
                            <td>avant l’audience d’examen de la culpabilité ou pendant la période de mise à
                                l’épreuve éducative (d)</td>
                            <th>m</th>
                            <th id = "c22">3</th>
                            <td><input type="checkbox" id="check22"></td>
                        </tr>
                        <tr>
                            <th style="width: 8%;">8</th>
                            <td colspan="2">Assistance d’un prévenu devant le tribunal correctionnel à l’exception des
                                procédures prévues
                                par les
                                articles 394, 395 et 397-1-1 du CPP (comparutions immédiates et comparutions à délai
                                différé)
                                (b) (c) (i)</td>
                            <td class="diagonal" style="width: 10%;"></td>
                            <th id = "c23">10</th>
                            <td><input type="checkbox" id="check23"></td>
                        </tr>
                        <tr>
                            <th>8-3</th>
                            <td colspan="2">Assistance d'un prévenu dans le cadre soit d'une procédure prévue par les
                                articles
                                394 et 395 du CPP
                                (comparution immédiate) soit d'une procédure prévue par l'article 397-1-1 du CPP
                                (comparution à
                                délai
                                différé) (b) (c) (i)</td>
                            <th>M</th>
                            <th id = "c24">10</th>
                            <td><input type="checkbox" id="check24"></td>
                        </tr>
                        <tr>
                            <th>8-1</th>
                            <td colspan="2">Assistance d'une personne faisant l'objet d'une procédure de comparution sur
                                reconnaissance préalable de
                                culpabilité sur convocation (b)</td>
                            <td class="diagonal"></td>
                            <th id = "c25">5</th>
                            <td><input type="checkbox" id="check25"></td>
                        </tr>
                        <tr>
                            <th>8-2</th>
                            <td colspan="2">Assistance d'une personne faisant l'objet de la procédure de comparution sur
                                reconnaissance préalable de
                                culpabilité après défèrement devant le procureur(b)</td>
                            <th>M</th>
                            <th id = "c26">5</th>
                            <td><input type="checkbox" id="check26"></td>
                        </tr>


                        <tr class="border-top border-side highlighted-row">
                            <th>8-4</th>
                            <td rowspan="3" style="text-align: center; vertical-align: middle;">Assistance d’un prévenu
                                devant le tribunal pour enfants</td>
                            <td>à l'issue des procédures régies par l'ordonnance du 2 février 1945 relative à
                                l'enfance délinquante et de celles régies par le code de la justice pénale des
                                mineurs dans le cadre d'une instruction correctionnelle (b) (c) (i)</td>
                            <th>m</th>
                            <th id = "c27">10</th>
                            <td><input type="checkbox" id="check27"></td>
                        </tr>
                        <tr class="border-side highlighted-row">
                            <th>8-5</th>
                            <td>lors de l’audience d’examen de la culpabilité ou de prononcé de la sanction
                                (b) (y) (z)</td>
                            <th>m</th>
                            <th id = "c28">11</th>
                            <td><input type="checkbox" id="check28"></td>
                        </tr>
                        <tr class="border-side border-bottom highlighted-row">
                            <th>8-6</th>
                            <td>lors du jugement en audience unique (b) (c) (y)</td>
                            <th>m</th>
                            <th id = "c29">18</th>
                            <td><input type="checkbox" id="check29"></td>
                        </tr>
                        <tr>
                            <th>12</th>
                            <td colspan="2">Assistance d'une partie civile ou d'un civilement responsable en matière
                                correctionnelle durant la phase d'instruction ou devant une juridiction de jugement de
                                premier
                                degré ou d'application des peines hors procédures de comparution immédiate, de
                                comparution à
                                délai différé ou de CRPC dans le cadre d'un défèrement devant le procureur de la
                                République (c)
                                (f) (i)</td>
                            <th>m</th>
                            <th id = "c30">8</th>
                            <td><input type="checkbox" id="check30"></td>
                        </tr>
                        <tr>
                            <th>12-7</th>
                            <td colspan="2">Assistance d'une partie civile pour une des procédures prévues par les
                                articles 394,
                                395 et 397-1-1 du CPP (comparution immédiate et comparution à délai différé) ou pour une
                                procédure de comparution sur reconnaissance préalable de culpabilité dans le cadre d'un
                                défèrement devant le procureur de la République (c) (i)</td>
                            <th>m/M</th>
                            <th id = "c31">8</th>
                            <td><input type="checkbox" id="check31"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="td-heading">Procédures devant la cour d'appel</td>
                        </tr>
                        <tr>
                            <th>10-1</th>
                            <td colspan="2">Assistance d'une personne pour les appels des ordonnances du juge des
                                enfants, du
                                juge d'instruction et du juge des libertés et de la détention3 et autres procédures
                                devant la
                                chambre de l'instruction (y compris extradition et procédures de remise résultant de
                                l'exécution
                                d'un mandat d'arrêt européen)</td>
                            <th>m</th>
                            <th id = "c32">6</th>
                            <td><input type="checkbox" id="check32"></td>
                        </tr>
                        <tr>
                            <th>10-2</th>
                            <td colspan="2">Assistance d'une personne déférée au procureur général et présentée au
                                premier
                                président en exécution d'un mandat d'arrêt européen ou d'une demande d'extradition</td>
                            <th>m</th>
                            <th id = "c33">6</th>
                            <td><input type="checkbox" id="check33"></td>
                        </tr>
                        <tr>
                            <th>10-4</th>
                            <td colspan="2">Assistance d'un prévenu, d'un mis en examen, d'un condamné, d'une partie
                                civile ou
                                d'un civilement responsable devant soit la chambre des appels correctionnels soit la
                                chambre
                                spéciale des mineurs soit la chambre de l'application des peines, soit devant la chambre
                                de
                                l'instruction dans le cadre d'une
                                irresponsabilité pénale présumée (b) (c)</td>
                            <th>m</th>
                            <th id = "c34">13</th>
                            <td><input type="checkbox" id="check34"></td>
                        </tr>
                        <tr>
                            <th>10-6</th>
                            <td colspan="2">Assistance d'une personne pour l'appel d'une décision rendue par le juge des
                                libertés et de la détention saisi
                                en application du 3ème alinéa de l'article 394 du code de procédure pénale</td>
                            <th>M</th>
                            <th id = "c35">6</th>
                            <td><input type="checkbox" id="check35"></td>
                        </tr>
                        <tr>
                            <th>10-7</th>
                            <td colspan="2">Assistance d'une personne pour l'appel d'une décision faisant suite à un
                                débat
                                contradictoire relatif au placement ou au maintien en détention provisoire (i)</td>
                            <th>M</th>
                            <th id = "c36">6</th>
                            <td><input type="checkbox" id="check36"></td>
                        </tr>
                        <tr>
                            <th>10-8</th>
                            <td colspan="2">
                                Assistance d'un prévenu ou d'une partie civile pour l'appel d'une décision rendue dans
                                le cadre
                                : -soit d'une procédure prévue par les articles 394 et 395 du CPP (comparution
                                immédiate)
                                -soit d'une procédure prévue par l'article 397-1-1 du CPP (comparution à délais
                                différés) (b)
                                (c) (i) -soit d'une procédure prévue par l'article 495-7 du CPP (comparution sur
                                reconnaissance
                                préalable de culpabilité) faisant suite à un défèrement devant le procureur de la
                                République en
                                application de l'article 393 du CPP (b) (c)</td>
                            <th>M</th>
                            <th id = "c37">13</th>
                            <td><input type="checkbox" id="check37"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="td-heading">Procédures d'application des peines et procédures
                                applicables en
                                matière de surveillance de sûreté et de rétention de sûreté</td>
                        </tr>
                        <tr>
                            <th>18</th>
                            <td colspan="2">
                                Procédures d'application des peines et procédures applicables en matière de surveillance
                                de
                                sûreté et de rétention de sûreté (e)</td>
                            <th>m</th>
                            <th id = "c38">4</th>
                            <td ><input type="checkbox" id="check38"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="td-heading">Procédure devant la Cour de réexamen en matière pénale
                            </td>
                        </tr>
                        <tr>
                            <th>22</th>
                            <td colspan="2">
                                Assistance ou représentation du requérant ou de la partie civile (instruction et
                                jugement)
                                devant la Cour de réexamen en matière pénale</td>
                            <th>m</th>
                            <th id = "c39">10</th>
                            <td><input type="checkbox" id="check39"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="td-heading">Procédure devant le tribunal de police</td>
                        </tr>
                        <tr>
                            <th>9-1</th>
                            <td colspan="2">

                                Assistance d'un prévenu majeur (contraventions de police de la 5e classe), d'un prévenu
                                mineur
                                ou majeur protégé, d'une partie civile ou d'un civilement responsable (contraventions de
                                police
                                de la 1re à la 5e classe) devant le tribunal de police (b)</td>
                            <th>m</th>
                            <th id = "c40">5</th>
                            <td ><input type="checkbox" id="check40"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="td-heading">Intérêts civils après un procès pénal</td>
                        </tr>
                        <tr>
                            <th>27</th>
                            <td colspan="2">

                                Assistance du condamné, de la partie civile ou du civilement responsable dans le cadre
                                d'une
                                procédure relative aux dommages et intérêts civils après une procédure pénale</td>
                            <th>m</th>
                            <th id = "c41">4</th>
                            <td><input type="checkbox" id="check41"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="td-heading">
                                Recours prévu par l'article 803-8 du code de procédure pénale en première instance et en
                                appel
                            </td>
                        </tr>
                        <tr>
                            <th>33</th>
                            <td colspan="2">

                                Assistance d'un détenu pour le dépôt d'une requête jugée irrecevable</td>
                            <th>m</th>
                            <th id = "c42">3</th>
                            <td><input type="checkbox" id="check42"></td>
                        </tr>
                        <tr>
                            <th>34</th>
                            <td colspan="2">Assistance d'un détenu pour l'examen au fond de sa requête si celle-ci a été
                                jugée
                                recevable (v) (w)</td>
                            <th>m</th>
                            <th id = "c43">10</th>
                            <td><input type="checkbox" id="check43"></td>
                        </tr>
                    </tbody>
            </table>

            <table>
                <thead>
                    <th style="width: 8%">N°</th>
                    <th>II. Majorations</th>
                    <th>Coef.</th>
                    <th>Nombre de majorations</th>
                    <th>Total</th>
                </thead>
                <tbody id="table2">
                    <tr>
                        <th>40-2</th>
                        <td>(a) Demi-journée d'audience supplémentaire</td>
                        <th>3</th>
                        <th><span id = "inp10">8</span> x <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input10"></th>
                        <td class="total">=<span id = "r10"></span></td>
                    </tr>
                    <tr>
                        <th>41</th>
                        <td>(b) Présence d'une partie civile lorsque l'avocat assiste le prévenu</td>
                        <th>3</th>
                        <th>1</th>
                        <td class="total">= <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input11"></td>
                    </tr>
                    <tr>
                        <th>40-1</th>
                        <td>(c) Demi-journée d'audience supplémentaire</td>
                        <th>3</th>
                        <th><span id = "inp12">3</span> x <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input12"></th>
                        <td class="total">=<span id = "r12"></span></td>
                    </tr>
                    <tr>
                        <th>50</th>
                        <td>(d) Débat contradictoire relatif au prononcé ou à la modification d'une mesure de sûreté
                        </td>
                        <th>2</th>
                        <th>1</th>
                        <td class="total">= <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input13"></td>
                    </tr>
                    <tr>
                        <th>43</th>
                        <td>(e) Débat contradictoire ou audition préalable du condamné en présence de son avocat au sein
                            de
                            l'établissement pénitentiaire</td>
                        <th>1</th>
                        <th>1</th>
                        <td class="total">= <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input14"></td>
                    </tr>
                    <tr>
                        <th>45</th>
                        <td>(f) Acte d'instruction nécessitant l'assistance de l'avocat devant le pôle de l'instruction
                            lorsque cet
                            avocat appartient au barreau établi près le tribunal judiciaire initialement compétent.</td>
                        <th>2</th>
                        <th><span id = "inp15">2</span> x <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input15"></th>
                        <td class="total">=<span id = "r15"></span></td>
                    </tr>
                    <tr>
                        <th>46</th>
                        <td>
                            (g) L'avocat ayant assisté la partie civile ou l'accusé au cours de l'information devant le
                            pôle
                            de l'instruction appartient au barreau établi près le tribunal judiciaire au sein duquel est
                            établi le pôle et que l'audience a lieu en dehors du ressort de compétence territoriale de
                            ce
                            tribunal</td>
                        <th>2</th>
                        <th>x2_</th>
                        <td class="total">= <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input16"></td>
                    </tr>
                    <tr>
                        <th>47</th>
                        <td>
                            (h) L'interrogatoire de première comparution et le débat contradictoire ont lieu au pôle de
                            l'instruction et que l'avocat appartient au barreau établi près le tribunal judiciaire
                            initialement compétent</td>
                        <th>2</th>
                        <th>1</th>
                        <td class="total">= <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input17"></td>
                    </tr>
                    <tr>
                        <th style="width: 8%;">48</th>
                        <td style="width: 61.6%;">
                            (i) L'avocat ayant assisté la partie civile ou le prévenu au cours de l'information devant
                            le
                            pôle de l'instruction appartient au barreau établi près le tribunal judiciaire au sein
                            duquel
                            est établi le pôle et l'audience a lieu en dehors du ressort de compétence territoriale de
                            ce
                            tribunal.</td>
                        <th>2</th>
                        <th><span id = "inp18">2</span> x <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input18"></th>
                        <td class="total">=<span id = "r18"></span></td>
                    </tr>
                    <tr>
                        <th>49</th>
                        <td>
                            Intervention devant le Conseil constitutionnel saisi d'une question prioritaire de
                            constitutionnalité</td>
                        <th>16</th>
                        <th>1</th>
                        <td class="total">= <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input19"></td>
                    </tr>
                    <tr>
                        <th>51</th>
                        <td>
                            (y) En cas de détention provisoire</td>
                        <th>8</th>
                        <th>1</th>
                        <td class="total">= <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input20"></td>
                    </tr>
                    <tr>
                        <th>52</th>
                        <td>
                            (z) En cas d'extension de la période de mise à l'épreuve éducative et pour chaque procédure
                            pour
                            laquelle la période de mise à l'épreuve éducative a été étendue, la majoration s'applique à
                            l'AFM délivrée à l'audience de prononcé de la sanction</td>
                        <th>2</th>
                        <th><span id = "inp21">2</span> x <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input21"></th>
                        <td class="total">= <span id = "r21"></span></td>
                    </tr>
                    <tr>
                        <th>53</th>
                        <td>
                            (v) L'avocat assiste le détenu pour une audition devant le juge</td>
                        <th>2</th>
                        <th><span id = "inp22">2 </span>x <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input22"></th>
                        <td class="total">=<span id = "r22"></span></td>
                    </tr>
                    <tr>
                        <th>54</th>
                        <td>
                            (w) Expertise en présence de l'avocat</td>
                        <th>3</th>
                        <th><span id = "inp23">3</span> x <input style="margin: 0.1rem 0; width: 1rem;" type="text" id="input23"></th>
                        <td class="total">=<span id = "r23"></span></td>
                    </tr>
                </tbody>
            </table>
            <div id="tables-below">
                <label style="font-size: 0.9rem; font-weight: normal;">N° d’A.F.M. :</label>
                <strong>41018</strong>
                <input type="text" id="input24">
                <strong>2024</strong>
                <input type="text" id="input25">
            </div>
            <div id="conforment-div">
                <div id="conforment-tagline">Conformément à l’article 92 du décret n° 2020-1717 du 28 décembre 2020,
                    appliquons un pourcentage de réduction de 5 :</div>
                <div id="conforment-inputs">
                    <input type="checkbox">
                    <label>30%</label>
                    <input type="checkbox" style="width: 2rem;" id="check44">
                    <label>40%</label>
                    <input type="checkbox" style="width: 2rem;" id="check45">
                    <label>50%</label>
                    <input type="checkbox" style="width: 2rem;" id="check46">
                    <label>60%</label>
                </div>
                <p>Autres missions accomplies par l’avocat dans la même affaire pour lesquelles une attestation de
                    mission
                    est délivrée 6 : </p>
                <form id="conforment-form">
                    <div id="conforment-row">
                        <label>N°B.A.J</label>
                        <input type="text" id="input26">
                        <label>N°B.A.J</label>
                        <input type="text" id="input27">
                    </div>
                    <div id="conforment-row">
                        <label>N°B.A.J</label>
                        <input type="text" id="input28">
                        <label>N°B.A.J</label>
                        <input type="text" id="input29">
                    </div>
                    <div id="conforment-row">
                        <label>N°B.A.J</label>
                        <input type="text" id="input30">
                        <label>N°B.A.J</label>
                        <input type="text" id="input31">
                    </div>
                </form>
            </div>
            <div id="application-div">
                <div><label style="font-weight: normal;">Vu la demande d’attestation de mission présentée par
                        Maître</label>
                    <input type="text" id="input32">
                </div>
                <div class="bold-input">
                    <input type="checkbox" id="check47">
                    <label>En application de l’article 37 de la loi n° 91-647 et de l’article 92 du décret n° 2020-1717
                        du
                        28 décembre 2020
                    </label>
                </div>
                <div id="euro-div">
                    <p>Montant hors taxes des sommes recouvrées par l’avocat en application de l’article 37 de la loi
                    </p>
                    <input type="text" id="input34">
                    <p>€ H.T.</p>
                </div>
                <div class="bold-input">
                    <input type="checkbox" id="check48">
                    <label>En application de l’article 113 du décret n° 2020-1717 du 28 décembre 2020
                    </label>
                </div>
                <div>
                    <p>Montant des honoraires et émoluments hors taxes perçus par l’avocat au titre d’un contrat
                        d’assurance
                        de protection juridique
                        ou d’un autre système de protection <input type="text" style="width: auto;" id="input35">€ H.T.
                    </p>
                </div>

            </div>
            <div id="nous">
                <div id="nous1">
                    <p>Nous</p>
                    <input type="text" id="input36">
                    <input type="text" id="inputt37" list="options2" >
                    <datalist id="options2">
                        <option value="Greffière d'audience">
                        <option value="Greffière">
                        <option value="Greffier d'audience">
                        <option value="Greffier">
                        <option value="Adjoint administratif faisant fonction de greffier">
                        <option value="Adjoint administratif">
                      </datalist>
                    <input type="text" id="inputt38" list = "options3">
                    <datalist id="options3">
                        <option value="de la Cour d'assises de">
                        <option value="de la Cour d'appel de">
                        <option value="du Tribunal judiciaire de">
                      </datalist>
                    <input type="text" id="input39">
                </div>
                <div id="nous2">
                    <p>attestons que l'avocat susnommé a accompli le</p>
                    <input type="text" id="input40">
                    <p>la mission pour laquelle il a été désigné</p>
                </div>
            </div>


            <div id="arretons">
                <p style="display: flex; justify-content: space-between;">Arrêtons la présente attestation à <span
                        style="font-size: 1rem; font-style: normal; margin-left: 0.3rem; margin-right: 0.3rem;" id = "uuvv">0</span>
                    UV, avant application du pourcentage de réduction prévu par l’article 92 susvisé et du</p>
                <div>
                    <p>taux d’aide juridictionnelle partielle</p>
                    <p id="ving"><span id = "french-number">zéro</span> UV</p>
                    <p id="nombre"> (nombre d’UV en toutes lettres) </p>
                </div>
            </div>

            <p style="text-align: justify; font-size: 0.8rem; margin-top: 3rem;">L’application du pourcentage de
                réduction
                prévu par l’article 92 susvisé et du taux d’aide juridictionnelle
                partielle ainsi que la
                déduction des sommes recouvrées par l’avocat en application de l’article 37 de la loi et 113 du décret
                sont
                effectuées par la
                CARPA</p>


            <div style="display: flex; margin-top: 3rem; font-size: 0.6rem; align-items: center;">
                <p>Fait à</p>
                <input type="text" id="input41">
                <p>le</p>
                <input type="text" id="input42">
            </div>

            <h5 style="margin-top: 3rem;">SIGNATURE</h5>
            <div style="margin-top: 8rem; width: 10rem; border-bottom: 1px solid black;"></div>

            <div id="footer-div">
                <p>1 En cas de pluralité d’avocats commis ou désignés d’office pour assister une personne à l’occasion
                    des
                    procédures pénales prévues dans la présente rubrique, une seule contribution est
                    due. Les missions d’assistance pour les phases d’instruction et de jugement devant les tribunaux des
                    forces armées sont rétribuées selon les coefficients applicables aux juridictions de
                    droit commun. </p>
                <p>
                    2 Une seule contribution est due pour l’ensemble de la phase d’instruction, que la chambre de
                    l'instruction ait été ou non saisie</p>
                <p>3 L’ensemble des appels portés au cours de l’instruction devant la chambre de l’instruction donne
                    lieu à
                    une rétribution forfaitaire de 6 UV</p>
                <p>4
                    La question prioritaire de constitutionnalité ne pouvant être soulevée devant la cour d’assises,
                    lorsqu’elle statue en premier ressort, la majoration n’est pas applicable dans ce cas, pour
                    les missions d’assistance des prévenus et des parties civiles devant cette juridiction.</p>
                <p>5 Cocher le cas échéant la case correspondante : la rétribution de l’avocat assistant plusieurs
                    personnes dans une procédure reposant sur les mêmes faits en matière pénale ou dans un litige
                    reposant sur les mêmes faits et comportant des prétentions ayant un objet similaire dans les autres
                    matières, est réduite par le juge de 30 % pour la deuxième personne assistée, de
                    40 % pour la troisième personne assistée, de 50 % pour la quatrième personne assistée et de 60 %
                    pour la
                    cinquième personne assistée et s’il y a lieu pour les personnes suivantes.</p>
                <p>6 Reporter sur la présente attestation de mission et sur celles délivrées à l’avocat dans la même
                    affaire, y compris la première attestation délivrée sans pourcentage de réduction de l’article
                    111, l’ensemble des numéros BAJ concernant l’admission à l’aide juridictionnelle des personnes qu’il
                    a
                    assisté.</p>

            </div>

        </div>

    </div>
    <div style="margin-top: 0.1rem; margin-bottom: 1rem; display: flex; justify-content: center; ">
        <button type="submit" id="btn"
            style="color: white; padding: 0.5rem 1rem; background-color: blue; border: none; border-radius: 10px; cursor: pointer;">Submit
            and generate report</button>
    </div>

    </form>
    <script src="scripts/form.js"></script>
</body>

</html>